@font-face {
  font-family: "roboto";
  src: url("./Roboto-Black.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "roboto";
}

.doggy {
  background: url("./download.jpeg");
}
